@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan:   hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --space-mono: 'Space Mono', monospace;
}

html{
    font-size: 100%;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    box-sizing: border-box;
    
}

body{
    font-family: var(--space-mono);
    font-size: 1.5rem;
    letter-spacing: 1.2px;
}

button, input{
    font-family: var(--space-mono);
}

button{
    border: none;
    width: 100%;
    border-radius: 0.625rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-percent-opt:not(:last-child):hover{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.btn-percent.active{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.attribution{
    position: fixed;
    bottom: 0.9375rem;
    width: 100%;
    padding: 0 0.9375rem;
    font-size: 0.75rem;
    text-align: center;
}

.root-main{
    height: calc(100vh - 1px);
    background-color: var(--Light-grayish-cyan);
    display: grid;
    place-content: center;
}

.tip__wrapper{
    max-width: 1000px;
    background-color: var(--White);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 45px;
    padding: 40px 40px;
    border-radius: 1.5625rem;
}

.bill__wrapper{
    display: grid;
    row-gap: 35px;
}

.input-group{
    display: grid;
}

input{
    text-align: end;
    border: none;
    
    padding: 12px 20px 12px 35px;
    border-radius: 10px;
    background-color: var(--Very-light-grayish-cyan);
    position: relative;
    font-size: 20px;
}
input:focus{
    outline: 2px solid var(--strong-cyan);
}

label{
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--Dark-grayish-cyan);
}

#bill{
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 17px 19px;
}

#numberPeolpe{
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 17px 19px;
}

#percent-opt{
    padding: 12px 20px;
}

#percent-opt::placeholder{
    text-align: center;
}

.btn-group{
    display: grid;
    grid-template-columns: repeat(3, minmax(75px, 1fr));
    gap: 20px;
}


.btn-group button{
    background-color: var(--very-dark-cyan);
    color: var(--White);
}

#selectTipLabel{
    grid-column: span 3;
}

.result__wrapper{
    background-color: var(--very-dark-cyan);
    padding: 30px 40px;
    border-radius: 15px;
    display: grid;
    row-gap: 15px;
    align-items: flex-start;
}

.result_group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    align-items: center;
}

.res_title{
    color: var(--White);
    line-height: 22px;
    font-size: 16px;
}

.result_group .res_title span{
    color: var(--Light-grayish-cyan);
    font-size: 12px;  
}

.reset{
    align-self: flex-end;
    color: var(--very-dark-cyan);
    text-transform: uppercase;
    background-color: var(--Dark-grayish-cyan);
    cursor: pointer;
    pointer-events: none;
}

.reset:hover{
    background-color: var(--Very-light-grayish-cyan);
}

.reset.active{
    pointer-events: initial;
    background-color: var(--strong-cyan);
}

.tip_result{
    font-size: 45px;
    color: var(--strong-cyan);
    letter-spacing: normal;
}

#peopleNumber{
    display: flex;
    justify-content: space-between;
}

#peopleNumber .err-message{
    color: #b9826d;
}

.err-message{
    display: none;
}

.err-message.active{
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    color: var(--very-dark-cyan);
}

input[type=number]::placeholder{
    color: var(--Dark-grayish-cyan);
}

@media only screen and (max-width: 1069px) {
    .tip__wrapper{
        max-width: 75%;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    .attribution{
        display: none;
    }
}

@media only screen and (max-width: 784px){
    .tip_result{
        font-size: 36px;
    }
}

@media only screen and (max-width: 618px){
    .tip__wrapper{
        max-width: 100%;
        position: fixed;
        bottom: 0;
        border-radius: 25px 25px 0px 0px;
        padding: 40px 25px;
    }

    .btn-group {
        grid-template-columns: repeat(2, minmax(75px, 1fr));
    }
}

@media only screen and (max-width: 500px){
    .result__wrapper{
        padding: 30px 27px;
    }

    .res_title {
        line-height: 18px;
        font-size: 13px;
    }

    .tip_result{
        font-size: 34px;
    }

}